@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --aeleste: #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --verde: #39b54a;
    --fontSizeText: 12px;
    --fontSizeTitle: 24px;
    --fontSizePrice: 18px;
    --fontSizeDescuento: 16px;
    --fontSizeDescription: 16px;
    }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.index {
    background-color: var(--grisClaro);
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

p,li{
    font-size: var(--fontSizeText);
    font-family: 'Roboto';
}

h3{
    font-size: var(--fontSizeTitle);
    font-family: 'Roboto';
    color: var(--grisOscuro);
}

h4{
    font-family: 'Roboto';
    color: var(--grisOscuro);
}


.index__header__menu li{
    list-style: none;
    
}
.index__header__menu li a{
    text-decoration: none;
    color: black;
}

.index__main__section__article--descuento{
    font-size: var(--fontSizeDescuento);
}

.index__main__section__article--price{
    font-size: var(--fontSizePrice);
}